body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow-y: scroll; /* Ensures vertical scrollbar is always visible */
}
.title-page {
    text-align: center;
     margin-top: 5vh; 
}
.title-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
/* Dropdown */
.dropdown-container {
    text-align: center;
    margin-top: 10px;
}
select {
    padding: 5px;
    font-size: 1em;
    width: 200px; /* Adjust width to make it narrower */
    border: 1px solid #ccc;
    border-radius: 4px; /* To make it rectangular, adjust the border-radius */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* Dark Mode Styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}
.dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}
.dark-mode-toggle input[type="checkbox"] {
    margin-right: 5px;
}